<div class="container">
  <div class="user-pane d-flex col-12 justify-content-between">
    <div class="row card-dashboard">
      <% if current_user.photo.filename %>
      <%= cl_image_tag current_user.photo.url(:user_photo_main), class:"dashboard-image"%>
      <% else %>
      <%= image_tag "https://res.cloudinary.com/dedqosv7x/image/upload/w_200,ar_1:1,c_fill,g_auto/v1573196467/drnvl6hpigqsuxy8iqhn.jpg", class:"dashboard-image" %>
      <% end %>
      <div class="user-details">
        <h2><%= current_user.username %></h2>
        <hr>
        <h5><%=  current_user.first_name %> <%=  current_user.last_name %> </h5>
        <p><%=  current_user.city.capitalize! %> </p>
        <p>- <%=  current_user.email%></p>
      </div>
    </div>
    <div class="col-9 card-swaps">
      <div>
        <h1 class="text-center mt-2 find-games">Current swapsies</h1>
      </div>

      <div class="d-flex justify-content-between">
        <div class="column justify-content-between", style="flex: 1;">

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="text-center find-games-swap blue-text nav-link active" id="offers-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offers" aria-selected="true">Swap Requests</a>
            </li>
            <li class="nav-item">
              <a class="text-center find-games-swap nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="true">Swap Offers</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="offers" role="tabpanel" aria-labelledby="requests-tab">
              <ul class="request-card">
                <% current_user.listings.each do |listing| %>
                <% listing.offered_swaps.each do |swap| %>
                <li>
                  <div class="swap-offer-card p-3 pt-2 d-flex justify-content-around m-3">
                    <div class="your-swap ml-2">
                      <div class="text-center mb-2">
                        <%= image_tag swap.listing_offered.game.cover_image, alt: "alttext", class:"card-cover-image mt-1"%>
                      </div>
                      <hr class="m-1">
                      <div class="text-left">
                        <p>
                          <p class="your">Your Game</p>
                          <p class="font-weight-bold">
                            <%= swap.listing_offered.game.title %>
                          </p>
                          <p>
                            Condition: <%= swap.listing_offered.condition %></p>
                            <p>
                              Console: <%= swap.listing_offered.game.console %>
                            </p>
                          </p>
                        </div>
                      </div class="text-center">
                      <div><i class="swap-icon-offers fa-10x mt-6 text-left fas fa-exchange-alt"></i></div>
                      <div class="their-swap">
                        <div class="text-center mb-2">
                          <%= image_tag swap.listing_requested.game.cover_image, alt: "alttext", class:"card-cover-image mt-1"%>
                        </div>
                        <hr class="m-1">
                        <div class="text-right">
                          <p>
                            <p class="their">
                              <%= swap.listing_requested.user.username %>'s Game
                            </p>
                            <p class="font-weight-bold">
                              <%= swap.listing_requested.game.title %>
                            </p>
                            <p>
                              Condition: <%= swap.listing_requested.condition %></p>
                              <p>
                                Console: <%= swap.listing_requested.game.console %>
                              </p>
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <% end %>
                    <% end %>
                  </ul>
                </div>

                <div class="tab-pane fade show" id="requests" role="tabpanel" aria-labelledby="offers-tab">
                  <div class="column justify-content-between", style="flex: 1;">
                    <ul class="request-card">
                      <% current_user.listings.each do |listing| %>
                      <% listing.requested_swaps.each do |swap| %>
                      <li>
                        <div class="swap-offer-card p-3 pt-2 d-flex justify-content-around m-3">
                          <div class="your-swap ml-2">
                            <div class="text-center mb-2">
                              <%= image_tag swap.listing_offered.game.cover_image, alt: "alttext", class:"card-cover-image mt-1"%>
                            </div>
                            <hr class="m-1">
                            <div class="text-left">
                              <p>
                                <p class="their">
                                  <%= swap.listing_offered.user.username %>'s Game
                                </p>
                                <p class="font-weight-bold">
                                  <%= swap.listing_offered.game.title%>
                                </p>
                                <p>
                                  Condition: <%= swap.listing_offered.condition %>
                                </p>
                                <p>
                                  Console: <%= swap.listing_offered.game.console %>
                                </p>
                              </p>
                            </div>
                          </div class="text-center">
                          <div><i class="swap-icon-requests fa-10x mt-6 text-left fas fa-exchange-alt"></i></div>
                          <div class="their-swap">
                            <div class="text-center mb-2">
                              <%= image_tag swap.listing_requested.game.cover_image, alt: "alttext", class:"card-cover-image mt-1"%>
                            </div>
                            <hr class="m-1">
                            <div class="text-right">
                              <p>
                                <p class="your">
                                  Your Game
                                </p>
                                <p class="font-weight-bold">
                                  <%= swap.listing_requested.game.title %>
                                </p>
                                <p>
                                  Condition: <%= swap.listing_requested.condition %>
                                </p>
                                <p>
                                  Console: <%= swap.listing_requested.game.console %>
                                </p>
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
