<div class="container">

  <div class="row card-dashboard justify-content-between align-items-start">
    <div class="dashboard">
     <%= cl_image_tag current_user.photo.url(:user_photo_main) %>
    </div>
    <div class="outer">
      <div class="inner"></div>
    </div>
     <div class="user-details">
      <h2 id="underline-title"><%= current_user.username %></h2>
      <p><%=  current_user.first_name %> <%=  current_user.last_name %> </p>
      <p><%=  current_user.city %> </p>
    </div>
  </div>
</div>
<div class="container mt-5 justify-content-center d-flex">
  <h1>Current swapsies</h1>
</div>

<div class="d-flex justify-content-around mt-5">
      <div class="column">
        <h3>Swap Requests</h3>
        <ul class="request-card">
          <% current_user.listings.each do |listing| %>
            <% listing.requested_swaps.each do |swap| %>
            <li>
            <div class="card p-2">
              Your <%= swap.listing_offered.game.title %> for <%= swap.listing_requested.user.username %>'s <%= swap.listing_requested.game.title %>
              </div></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="column">
        <h3>Swap Offers</h3>
        <ul class="request-card">
          <% current_user.listings.each do |listing| %>
            <% listing.offered_swaps.each do |swap| %>
            <li>
            <div class="card p-2">
            Your <%= swap.listing_offered.game.title %> for <%= swap.listing_requested.user.username %>'s <%= swap.listing_requested.game.title %>
            </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
</div>
</div>
