<%# <div class="index-banner" style="background-image: url('https://i.pinimg.com/originals/f5/e9/3c/f5e93cb7fe0df0aad558bf7442631186.jpg')"></div> %>

<div class="container">
  <!--Search-->
  <div class="search-form-control form-group">
    <%= form_tag games_path, method: :get, class: "search-form d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mx-3",
        placeholder: "Enter the name of a game"
      %>
      <%= submit_tag "Search", class: "button-blue mx-3", id:"search" %>
    <% end %>
  </div>

  <div class="row justify-content-center">
      <% @games.each do |game| %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 card p-0 m-2">
          <%= link_to "", game_path(game), class:"listing-card-link" %>
          <%= image_tag game.cover_image, alt: "alttext", class:"card-cover-image w-100"%>
          <div class="card-index-infos ml-2">
            <h5 class="game-title pt-2"><%= game.title %></h5>
              <% if game.rating.between?(90,100) %>
              <% 5.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
            <% elsif game.rating.between?(72,89)%>
              <% 4.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <i class="fas fa-star star-black"></i>
            <% elsif game.rating.between?(60,71)%>
              <% 3.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 2.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% elsif game.rating.between?(51,60)%>
              <% 2.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 3.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% elsif game.rating.between?(0,50)%>
              <% 1.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 4.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% end %>
          <!--rating algo ends-->
            <p class="console-type"><%=game.console %> ・ <%= game.release_date.strftime("%b %d, %Y") %></p>
            <p class="game-description"><%=game.description.split(",").first(2).join(", ") %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
