<div class="container">
  <h1 class="text-center find-games">Find Games!</h1>
  <!--Search-->
  <div class="search-form-control form-group">
    <%= form_tag games_path, method: :get, class: "search-form d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter the name of a game"
      %>
      <%= submit_tag "Search", class: "btn btn-outline btn-blue shadow-none", id:"search" %>
    <% end %>
  </div>

  <div class="row">
      <% @games.each do |game| %>
        <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12">
          <%= link_to "", game_path(game), class:"listing-card-link" %>
          <%= image_tag game.cover_image, alt: "alttext", class:"card-cover-image", size: "200x300"%>
          <div class="card-index-infos">
            <h5 class="game-title pt-2"><%= game.title %></h5>
              <% if game.rating.between?(90,100) %>
              <% 5.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
            <% elsif game.rating.between?(72,89)%>
              <% 4.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <i class="fas fa-star star-black"></i>
            <% elsif game.rating.between?(60,71)%>
              <% 3.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 2.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% elsif game.rating.between?(51,60)%>
              <% 2.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 3.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% elsif game.rating.between?(0,50)%>
              <% 1.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 4.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% end %>
          <!--rating algo ends-->
            <p class="console-type"><%=game.console %> ・ <%= game.release_date %></p>
            <p><%=game.description.split(",").first(2).join(", ") %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
