<div class="container">
<h1 class="text-center">Find Games!</h1>
  <div class="search-form-control form-group">
    <%= form_tag games_path, method: :get, class: "search-form d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter the name of a game"
      %>
      <%= submit_tag "Search", class: "button-blue", id:"search" %>
  </div>
  <% end %>
  <div class="row justify-content-around">
    <% @games.each do |game| %>
        <div class="card-game col-lg-3 col-md-6 col-sm-9 col-xs-12">
          <%= link_to "", game_path(game), class:"listing-card-link" %>
          <div class="justify-content-center">
          <%= image_tag game.cover_image, alt: "alttext", class:"card-cover-image pt-3"%>
          </div>
          <div class="d-flex pt-3 justify-content-between">
            <h5><%= game.title %></h5>
            <p class="console-type"><%=game.console %></p>
          </div>
          <p class="game-description"><%=game.description %></p>
        </div>
    <% end %>
  </div>
</div>
