<div class="container">
  <h1 class="text-center">Find Games!</h1>

  <!--Search-->
  <div class="search-form-control form-group">
    <%= form_tag games_path, method: :get, class: "search-form d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mx-3",
        placeholder: "Enter the name of a game"
      %>
      <%= submit_tag "Search", class: "button-blue mx-3", id:"search" %>
    <% end %>
  </div>

  <div class="row justify-content-around">
      <% @games.each do |game| %>
        <div class="card-product">
          <%= link_to "", game_path(game), class:"listing-card-link" %>
          <%= image_tag game.cover_image, alt: "alttext", class:"card-cover-image"%>
          <div class="card-product-infos">
            <h5 class="game-title"><%= game.title %></h5>
            <% if game.rating.between?(80,100) %>
              <% 5.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
            <% elsif game.rating.between?(60,80)%>
              <% 4.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <i class="fas fa-star"></i>
            <% elsif game.rating.between?(40,60)%>
              <% 3.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 2.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
          <!--rating algo ends-->
            <p class="console-type"><%=game.console %> ・ <%= game.release_date %></p>
            <p class="game-description"><%=game.description.split(",").first(2).join(", ") %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
