<div class="container">
<div class="mt-5 d-flex justify-content-left">
</p>
</div>
  <div class="row justify-content-around">
    <div class="game-information col-lg-4 position-sticky">
      <h3 class="show-game-title pb-3 pt-2"> <%= @game.title %> </h3>
            <% if @game.rating.between?(90,100) %>
              <% 5.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
            <% elsif @game.rating.between?(72,89)%>
              <% 4.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <i class="fas fa-star star-black"></i>
            <% elsif @game.rating.between?(60,71)%>
              <% 3.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 2.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% elsif @game.rating.between?(51,60)%>
              <% 2.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 3.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% elsif @game.rating.between?(0,50)%>
              <% 1.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <% 4.times do %>
                <i class="fas fa-star star-black"></i>
              <% end %>
            <% end %> <br>
      <%= image_tag @game.cover_image, alt: "alttext", class:"mt-3 mb-3", size: "300x400"%>
      <p class="console-type pb-2"><%= @game.console %> ・ <%= @game.release_date %></p>
      <p class="pb-3"><%= @game.description %></p>
    <p class="go-back pb-3 mb-2"><%=link_to games_path , class: "button-blue justify-content-center shadow-none" do %>
      <i class="fas fa-arrow-left"></i> Go Back
    <% end %>
    </div>

      <div class="justify-content-center col-lg-7" id="available-listing">
    <h3 class="show-game-title pb-3 pt-2">Available listings</h3>

    <div id="available-listing-card">
    <% @game.listings.each do |listing| %>
      <% if listing.user.username == current_user.username %>
        <%= "" %>
        <% else %>
        <div class="card-product">
          <% if listing.user.photo.filename %>
            <%= cl_image_tag listing.user.photo.url(:user_photo_main) %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dedqosv7x/image/upload/w_160,ar_1:1,c_fill,g_auto,/v1573196467/drnvl6hpigqsuxy8iqhn.jpg" %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= name = listing.user.username %> </h2>
            <p class="mb-2">Condition: <%= listing.condition %> </p>
            <%= link_to "", new_listing_swap_path(listing) , class: 'listing-card-link' %>
          </div>
          <% end %>
        </div>
    <% end %>
        <div class="card-product">
        <%= link_to "", new_listing_path , class: 'listing-card-link' %>
        <div class="card-product-infos text-center" id="add-new-content">
          <i class="fas fa-plus fa-lg pb-2" id="add-plus"></i>
          <h2 class="text-center" id="list-now"> HAVE GAME? LIST NOW </h2>
        </div>
    </div>
    </div>
</div>