<%= render 'shared/banner' %>

<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Available listings</h1>
    </div>
  <div class="row justify-content-center mt-2">
    <% @game.listings.each do |listing| %>
      <div class="card-product">
        <% if listing.user.photo.filename %>
          <%= cl_image_tag listing.user.photo.url(:user_photo_main) %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dedqosv7x/image/upload/w_160,ar_1:1,c_fill,g_auto,/v1573196467/drnvl6hpigqsuxy8iqhn.jpg" %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= listing.user.username %> </h2>
          <p><%= listing.condition %> </p>
          <%= link_to "", new_listing_swap_path(listing) , class: 'listing-card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="mt-5 d-flex justify-content-center">
<p><%=link_to "Go back", games_path , class: "button-blue justify-content-center" %></p>
</div>

